@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Itim", cursive;
}
body{
    background-image: linear-gradient(to bottom, #585756, #6b6a69, #7e7d7d, #929192, #a6a6a6);
}
:root{
    --abu-color: rgba(64, 64, 64, .8);
}
section{
    z-index: 1;
    width: 100%;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--abu-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 16px 2rem;
}
nav .beranda{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
    transition: transform .3s ease;
    cursor: pointer;
}
nav ul li:hover{
    background-color: white;
    transform: scale(1.05);
}
nav a{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
nav ul li a:hover{
    color: black;
}
.utama-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(gor2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0;
}
.utama-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.utama-kata{
    margin-top: 13rem;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    padding: 20px 30px;
    background-color: rgba(64, 64, 64, .4);
    border-radius: 50px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .6);
}
.utama-kata h1{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 200;
}
.utama-btn{
    background-color: var(--abu-color);
    padding: 10px 16px;
    border-radius: 20px;
    opacity: .9;
    letter-spacing: 0;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .6);
    cursor: pointer;
}
.utama-btn:hover{
    opacity: 1;
}
.utama-btn a{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#jadwal{
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 20px;
}
.h3{
    width: auto;
    display: inline-block;
    background-color: #535353;
    border-radius: 13px;
    padding: 10px 15px;
}
.h3 p{
    color: white;
}
.garis{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 1.5rem auto;
}
#jadwal .h3{
    padding: 10px 30px;
}
.jadwalBuka table{
    width: 50%;
    padding: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 20px;
}
.open{
    color: green;
    font-size: 25px;
}
#tempat{
    background-color: rgba(107, 106, 105, .1);
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
.tempat-lokasi{
    display: grid;
    grid-template-columns: 60% 35%;
    justify-content: space-around;
}
.lokasi-container{
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
}
.lokasi-item{
    display: flex;
    gap: 1rem;
    padding: .5rem;
    align-items: center;
    font-size: 18px;
}
.lokasi-content a{
    display: flex;
    justify-content: end;
    margin-top: 5rem;
    font-size: 22px;
    text-decoration: underline;
}
.lokasi-item i{
    font-size: 25px;
    margin-bottom: 6rem;
}
.fasilitas-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}
.fasilitas-item ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.fasilitas-item ul li{
    font-size: 18px;
    letter-spacing: 0;
}
#galeri{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
}
.atas-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.atas-container h2{
    font-size: 40px;
    margin: 0 auto;
    text-decoration: underline;
}
.atas-container .atas-kiri{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 20%;
}
.atas-container .atas-kiri .kiri-satu{
    width: 400px;
    height: 20px;
    background-color: #787878;
    display: block;
}
.atas-container .atas-kiri .kiri-dua{
    width: 150px;
    height: 20px;
    background-color: #787878;
    display: block;
}
.atas-container .atas-kiri .kiri-tiga{
    width: 250px;
    height: 20px;
    background-color: #787878;
    display: block;
}
.atas-container .atas-kanan{
    display: flex;
    gap: .5rem;
    flex-direction: column;
    width: 20%;
}
.atas-container .atas-kanan .kanan-satu{
    width: 100px;
    height: 20px;
    display: block;
    margin-right: 0;
}
.atas-container .atas-kanan .kanan-dua{
    width: 100px;
    height: 20px;
    background-color: #787878;
    display: block;
}
.atas-container .atas-kanan .kanan-tiga{
    width: 150px;
    height: 20px;
    background-color: #787878;
    display: block;
}
.foto-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.foto-item{
    flex: 1; 
    max-width: calc(50% - 5px); 
    height: auto;
}
/* .foto-container{
    width: 100%;
}
.slider{
    position: relative;
    overflow: hidden;
}
.foto-item{
    display: none;
    width: 50%;
    margin: 0 auto;
} */
.btn-slide {
    position: absolute;
    bottom: 50%;
    display: flex;
    font-size: 60px;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.btn-slide i{
    cursor: pointer;
}

#ulasan{
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: 0 auto;
}
.ulasan-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ulasan{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.ulasan-item .profil{
    display: flex;
}
.lainnya{
    text-decoration: underline;
}
.ulasan-item{
    padding: 1rem;
    width: 400px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .4), 0 -2px 2px 0 rgba(0, 0, 0, .4);
}
.ulasan-item p{
    margin: 1rem 0 3rem 0;
}
.ulasan-item .rating{
    width: auto;
    display: flex;
    justify-content: end;
}
.ulasan-item .rating .rating-item{
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .4), 0 -3px 2px 0 rgba(0, 0, 0, .4);
    padding: 10px 20px;
    border-radius: 20px;
}
.rating .rating-item span{
    font-size: 18px;
    font-weight: 600;
}
.rating .rating-item i{
    font-size: large;
    color:#FFD700;
}
.foot{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    color: white;
    letter-spacing: 0;
}
.foot h2{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
}
.icon-foot{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}
.icon-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon-container p{
    font-size: 18px;
    font-weight: 500;
}
.icon-container i{
    color: black;
    font-size: 23px;
}
.icon-container a{
    color: white;
    text-decoration: underline;
}
.icon-item{
    width: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}